<div class="container p-4 my-5 whitebox">
    <div class="row text-center ">
        <div class="col mx-auto ">
            <div class="row ">
                <div class="col">
                    <h3 class="display-4">Bienvenido {{user.fullname}}</h3>
                </div>
            </div>
            <div class="row justify-content-center">
                <a href="/projects/add" class="card col-md-4 m-5" style="height: 18rem; background-color: #511378;">
                    <img src="/img/newprj.png" alt="dart logo" class=" p-3">
                </a>
                <a href="/projects/join" class="card col-md-4 m-5" style="height: 18rem; background-color: #d34191;">
                    <img src="/img/joinprj.png" alt="dart logo" class=" card-img-top">
                </a>
            </div>
        </div>
    </div>
</div>