<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Diagramador Modelo C4</h1>
            <h3 class="mb-3">
                <em>Contruye tu propio diagrama de modelo C4</em>
            </h3>
            <a href="/login" class="btn btn-dark">
                ¡Comencemos!
            </a>
        </div>

    </header>
</main>